<div class="dataTables_wrapper form-inline no-footer">
  <div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4">
      <div style="text-align: center">
        <div class="input-group">
          <span class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </span>
          <input date-range-picker style="margin-left: 0px" type="text" class="form-control" options="date_picker_opts" />
        </div>
      </div>
    </div>
    <div class="col-xs-4">
      <div style="text-align: right">
        <span class="input-icon">
          <input class="form-control search-query" placeholder="Search DNS Queries..." type="search"
                 ng-enter="startSearch()" ng-model="q">
          <i class="ace-icon fa fa-search nav-search-icon" style="margin-left: 4px"></i>
        </span>
      </div>
    </div>
  </div>
</div>

<div class="widget-box widget-color-blue ui-sortable-handle">
  <pagination-header metadata="metadata" offset="offset"></pagination-header>
  <pagination-footer metadata="metadata" offset="offset" get_records="getDnsQueries"></pagination-footer>
</div>
<div class="widget-body">
  <div class="widget-main no-padding" style="height: 220px; overflow-y: scroll;">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Cybox Object ID</th>
          <th>Questions</th>
          <th>Answer Resource Records</th>
          <th>Authority Resource Records</th>
          <th>Additional Records</th>
          <th>Created At</th>
          <th>Last Updated</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <tr ng-repeat="dns_query in dnsQueries | orderBy:'-created_at' | filter:search:strict" ng-click="setSelected()" class="{{classSelected()}}">
          <td>
            <a ng-href="#/dns_queries/{{dns_query.cybox_object_id | encodeURIComponent}}">{{dns_query.cybox_object_id}}</a>
          </td>
          <td class="pointer">
            {{dns_query.question_normalized_cache}}
          </td>
          <td class="pointer">
            {{dns_query.answer_normalized_cache}}
          </td>
          <td class="pointer">
            {{dns_query.authority_normalized_cache}}
          </td>
          <td class="pointer">
            {{dns_query.additional_normalized_cache}}
          </td>
          <td class="pointer">
            {{dns_query.created_at | date: 'medium'}}
          </td>
          <td class="pointer">
            {{dns_query.updated_at | date: 'medium'}}
          </td>
          <td>
            <button class="btn btn-primary btn-xs" tooltip="Edit Field" ng-click="setEdit()" ng-hide="dns_query.read_only">
              <i class="ace-icon fa fa-pencil "></i>
              Edit
            </button>
            <small ng-show="dns_query.read_only">
              <span class="ciap_mleft_10 label label-warning arrowed arrowed-right">
                <span class="white">Read Only</span>
              </span>
            </small>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="widget-box widget-color-blue">
  <pagination-footer metadata="metadata" offset="offset" get_records="getDnsQueries"></pagination-footer>
</div>
