<div ng-class="{'ciap_show_spinner_wrapper' : fetching}">

<div class="page-header">
  <h1>
    <span ng-if="attack_pattern.title">{{attack_pattern.title | prefixWithPortionMarking: attack_pattern.portion_marking}}</span>
    <span ng-if="!attack_pattern.title">{{attack_pattern.capec_id | prefixWithPortionMarking: attack_pattern.portion_marking}}</span>
    <small ng-show="attack_pattern.read_only">
      <span style="margin-left: 10px" class="label label-primary arrowed arrowed-right">
        <span class="white">Read Only</span>
      </span>
    </small>
    
    <small ng-show="attack_pattern.is_ciscp">
      <span class="ciap_mleft_10 label label-primary arrowed arrowed-right">
        <span class="white">CISCP</span>
      </span>
    </small>
    <small ng-show="attack_pattern.is_mifr">
      <span class="ciap_mleft_10 label label-primary arrowed arrowed-right">
        <span class="white">MIFR</span>
      </span>                 
    </small>
    <span class="pull-right">
      <a ng-href="#/attack_patterns/{{attack_pattern.stix_id | encodeURIComponent}}/edit" class="btn btn-info no-radius btn-xs" ng-show="canModify(attack_pattern) && attack_pattern.read_only == false"><i class="ace-icon fa fa-pencil-square-o bigger-160"></i> Edit</a>
      <button class="btn btn-danger no-radius btn-xs" ng-show="canDelete(attack_pattern)" ng-click="destroy(attack_pattern)"><i class="ace-icon fa fa-trash-o bigger-160"></i> Delete</button>
    </span>
  </h1>
  <div class="space-18"></div>
  <span class="pull-left" ng-show="canAny(['create_remove_badge_status','view_badge_status'])">
    <badge-statuses-table badge-statuses="attack_pattern.badge_statuses" audits="attack_pattern.audits" parent-id="attack_pattern.guid" parent-class="AttackPattern"></badge-statuses-table>
  </span>
  <div class="space-18"></div>
</div>

<p class="pull-right">
</p>

<div class="profile-user-info profile-user-info-striped">
  <div class="profile-info-row">
    <div class="profile-info-name"> Title </div>
    <div class="profile-info-value">
      <span>{{attack_pattern.title | prefixWithPortionMarking: attack_pattern.portion_marking:attack_pattern.title_c}}</span>
      <field-markings-show markings="attack_pattern.stix_markings" fieldname="title"></field-markings-show>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"> Description </div>
    <div class="profile-info-value">
      <multi-line-field field="attack_pattern.description" portionmarking="attack_pattern.portion_marking" cachemarking="attack_pattern.description_c"></multi-line-field>
      <field-markings-show markings="attack_pattern.stix_markings" fieldname="description"></field-markings-show>
    </div>
  </div>

  <div class="profile-info-row" ng-show='attack_pattern.feeds'>
    <div class="profile-info-name"> Disseminated Feeds </div>
    <div class="profile-info-value">
      <span>{{attack_pattern.feeds}}</span>
    </div>
  </div>
  
  <div class="profile-info-row">
    <div class="profile-info-name"> CAPEC ID </div>
    <div class="profile-info-value">
      <span>{{attack_pattern.capec_id | prefixWithPortionMarking: attack_pattern.portion_marking:attack_pattern.capec_id_c}}</span>
      <field-markings-show markings="attack_pattern.stix_markings" fieldname="capec_id"></field-markings-show>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"> Creator </div>
    <div class="profile-info-value">
      <span>{{attack_pattern.created_by_user.username}}</span>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"> Created </div>
    <div class="profile-info-value">
      <span>{{attack_pattern.created_at | date: 'medium'}}</span>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"> Updated </div>
    <div class="profile-info-value">
      <span>{{attack_pattern.updated_at | date: 'medium'}}</span>
    </div>
  </div>
</div>

<div class="space-12"></div>

<div ng-show="attack_pattern.stix_markings.length">
  <markings-table markings="attack_pattern.stix_markings"></markings-table>
</div>

<div class="space-12"></div>

<div ng-show="attack_pattern.ttps.length">
  <ttp-table ttps="attack_pattern.ttps" show_table="true"></ttp-table>
</div>

<div ng-show="attack_pattern.stix_packages.length > 0">
  <div class="space-12"></div>
  <package-table packages="attack_pattern.stix_packages"></package-table>
</div>

<div class="space-12"></div>

<audits-table audits="attack_pattern.audits"></audits-table>

</div>

<show-spinner> </show-spinner>
