<div class="text-center ciap_mtop_50">
  <a class="btn btn-info btn-white ciap_pall_5p10p ciap_font_250p" ng-href="#/packages">Packages</a>
  <a class="btn btn-info btn-white ciap_pall_5p10p ciap_mleft_25 ciap_font_250p" ng-href="#/uploads/new">Upload</a>
</div>

<div class="text-center ciap_mtop_50">
  <a class="btn btn-info btn-white ciap_btn_circle ciap_p_6p0" ng-href="#/indicators">
    Indicators
  </a>

  <a class="btn btn-info btn-white ciap_btn_circle ciap_mleft_5p ciap_p_6p0" ng-href="#/ttps">
    TTPs
  </a>

  <a class="btn btn-info btn-white ciap_btn_circle ciap_mleft_5p ciap_p_5p0" ng-href="#/exploit_targets">
    <div>Exploit</div>
    <div>Targets</div>
  </a>

  <a class="btn btn-info btn-white ciap_btn_circle ciap_mleft_5p ciap_p_5p0" ng-href="#/course_of_actions">
    <div>Courses</div>
    <div>of Action</div>
  </a>
</div>

<div class="space-12"></div>