<div class="widget-box">
  <pagination-header metadata="metadata" offset="offset"></pagination-header>
  <pagination-footer metadata="metadata" offset="offset" get_records="searchTtps"></pagination-footer>
  <div class="widget-body">
    <div class="widget-main">
      <div class="input-group input-icon">
        <input ng-model="q" ng-enter="startSearch()" id="nav-searchinput" class="form-control search-query" type="text"  autocomplete="off" placeholder="Search Ttps...">
        <i class="ace-icon fa fa-search nav-search-icon"></i>
        <span class="input-group-btn">
          <button class="btn btn-info btn-sm" type="button" ng-click="startSearch()">
            Search
            <i class="ace-icon fa fa-search icon-on-right bigger-110"></i>
          </button>
        </span>
      </div>
      <div class="ciap_table_scroll_500">
        <table id="sample-table-1" class="table table-striped table-bordered table-hover dataTable">
          <thead>
            <tr role="row">
              <th class="ciap_width_15">Stix ID</th>
              <th class="ciap_width_15">Created At</th>
              <th class="ciap_width_15">Updated At</th>
              <th class="ciap_width_6">Select</th>
            </tr>
          </thead>
          <tbody ng-hide="fetching">
            <tr ng-repeat="ttp in ttps">
              <td>
                <a ng-href="#/ttps/{{ttp.stix_id | encodeURIComponent}}">{{ttp.stix_id | prefixWithPortionMarking: ttp.portion_marking}}</a>
              </td>
              <td>
                {{ttp.created_at | prefixWithPortionMarking: ttp.portion_marking}}
              </td>
              <td>
                {{ttp.updated_at | prefixWithPortionMarking: ttp.portion_marking}}
              </td>
              <td>
                <input ng-disabled="disabled(ttp)" type="checkbox"
                ng-click="selectTtp(ttp, $event)"
                ng-checked="checked(ttp)"/>
              </td>
            </tr>
          </tbody>
          <tbody ng-show="fetching">
            <tr>
              <td colspan="4" class="center">
                <i class="fa fa-spinner fa-spin bigger-300 blue"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
