<div class="widget-box widget-color-blue ui-sortable-handle">
    <div class="widget-header">
        <h5 class="widget-title bigger lighter">
            <a class="fake-link white" ng-click="showTable = !showTable;showNew = false;">
                <span tooltip="Show/Hide Table">
                    <i class="ace-icon fa fa-table"></i>
                    Related Indicators
                </span>
            </a>
            <span ng-show="canModify(indicator)" class="pull-right" style="margin: 0 10px 6px 0">
                <button ng-click='showNew = !showNew;showTable = false' class="btn btn-sm btn-white btn-info">
                    <i class="ace-icon fa fa-plus"></i>
                    Add Related Indicator
                </button>
            </span>
        </h5>
    </div>

    <div class="widget-body" ng-show="showNew">
        <div class="widget-main">
            <indicator-browser ng-hide='closeBrowser' select-only=true selected-indicators="selected_indicators"></indicator-browser>

            <relationship-form ng-show='closeBrowser'
                               header_title='selected_indicators[selected_indicators.length-1].title'
                               relationship='relationship'
                               save='create'>
                <button class="btn btn-defualt" type="button" ng-click="back()">
                    <i class="fa fa-arrow-left"></i>
                    Back
                </button>
            </relationship-form>
        </div>
    </div>

    <div class="widget-body" ng-show="showTable">
        <div class="widget-main no-padding">
            <table style="table-layout: fixed" class="table table-striped table-bordered table-hover">
                <thead class="thin-border-bottom">
                <tr>
                    <th>Title</th>
                    <th>Relationship Confidence</th>
                    <th>Indicator Type</th>
                    <th>Relationship Last Updated</th>
                    <th>Relationship Created At</th>
                    <th ng-hide="hideActions">Actions</th>
                </tr>
                </thead>
                <tbody ng-repeat="related_indicator in indicator.related_indicators" ng-show="indicator.related_indicators.length">
                    <tr>
                        <td>
                            <a href="#/indicators/{{related_indicator.indicator.stix_id | encodeURIComponent}}">{{related_indicator.indicator.title | prefixWithPortionMarking:related_indicator.indicator.portion_marking}}</a>
                        </td>
                        <td>
                            {{Indicator.confidence(related_indicator) | uppercase}}
                        </td>
                        <td>
                            {{Indicator.indicatorTypes[related_indicator.indicator.indicator_type]}}
                        </td>
                        <td>
                            {{related_indicator.updated_at | date:"medium"}}
                        </td>
                        <td>
                            {{related_indicator.created_at | date:"medium"}}
                        </td>
                        <td ng-hide="hideActions">
                            <div class="hidden-sm hidden-xs btn-group">
                                <button ng-show="related_indicator.confidences.length" ng-click="showConfidence[$index] = !showConfidence[$index]" class="btn btn-xs btn-primary" tooltip="View Confidence History">
                                    <i class="ace-icon fa fa-info-circle bigger-120"></i>
                                </button>
                                <button ng-show='"canModify(indicator) && canModify(related_indicator.indicator)"' ng-click="showEdit[$index] = !showEdit[$index]" class="btn btn-xs btn-info" tooltip="Edit Relationship">
                                    <i class="ace-icon fa fa-pencil bigger-120"></i>
                                </button>
                                <button ng-show='"canModify(indicator) && canModify(related_indicator.indicator)"' ng-click="destroy(related_indicator)" class="btn btn-xs btn-danger" tooltip="Remove Relationship">
                                    <i class="ace-icon fa fa-trash-o bigger-120"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    <tr ng-show="showConfidence[$index]" style="background-color: #ffffff">
                        <td colspan="{{hideActions?5:6}}">
                            <confidence-table class='_relationship' confidences="related_indicator.confidences" show-table='true'>
                                <!--CONFIDENCE TABLE CUSTOM HEADER-->
                                    <script>
                                        $('confidence-table._relationship').children().removeClass('widget-color-blue');
                                    </script>
                                    <h5 class="widget-title">
                                        Confidence History for {{related_indicator.indicator.title}}
                                    </h5>
                            </confidence-table>
                        </td>

                    </tr>

                    <tr ng-show="showEdit[$index]" style="background-color: #ffffff">
                        <td colspan="{{hideActions?5:6}}">
                            <relationship-form header_title='related_indicator.indicator.title' relationship="related_indicator" save='update'></relationship-form>
                        </td>
                    </tr>
                </tbody>
                <tr ng-hide="indicator.related_indicators.length">
                    <td colspan="{{hideActions?5:6}}" style="text-align:center">No Results</td>
                </tr>
            </table>
        </div>
    </div>
</div>
