  <div class="widget-box widget-color-blue ui-sortable-handle">
    <div class="widget-header">
      <h5 class="widget-title bigger lighter">
        <a class="fake-link white" ng-click="showTable=!showTable">
          <span tooltip="Show/Hide Addresses">
            <i class="ace-icon fa fa-table"></i>
            Addresses
          </span>
        </a>
      </h5>
    </div>
    <div class="widget-body" ng-show="showTable">
      <div class="widget-main no-padding">
        <table class="table table-striped table-bordered table-hover">
          <thead class="thin-border-bottom">
            <tr>
              <th>Address Value</th>
              <th>Address Condition</th>
              <th>Created At</th>
              <th>Last Updated</th>
            </tr>
          </thead>
          <tbody ng-hide="fetching">
            <tr ng-repeat="address in addresses">
              <td>
                <a ng-show="address.combined_score||address.com_threat_score||address.gov_threat_score" ng-href="#/addresses/{{address.cybox_object_id | encodeURIComponent}}">{{address.address | prefixWithPortionMarking: address.portion_marking : "U"}}</a>
                <a ng-hide="address.combined_score||address.com_threat_score||address.gov_threat_score" ng-href="#/addresses/{{address.cybox_object_id | encodeURIComponent}}">{{address.address | prefixWithPortionMarking: address.portion_marking}}</a>
              </td>
              <td>
                {{address.address_condition}}
              </td>
              <td>
                {{address.created_at | date: 'medium'}}
              </td>
              <td>
                {{address.updated_at | date: 'medium'}}
              </td>
            </tr>
            <tr ng-hide="addresses.length || fetching">
              <td colspan="4" style="text-align:center">No Results</td>
            </tr>
          </tbody>
          <tbody ng-show="fetching">
            <tr>
              <td colspan="4" class="center">
                <i class="fa fa-spinner fa-spin bigger-300 blue"></i>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
